.navbar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  min-height: 100vh; 
}

.navbarMain {
  margin-top: 3rem;
  margin-bottom: 12rem;

  @media (max-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }

  @media (max-width: 480px) {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.logo {
  margin-top: rem(20px);
  text-align: center;
  margin-bottom: rem(50px);
  justify-content: center;
  align-items: center;
  color: red;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  color: red;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: rgb(95, 89, 89);
    color: white;
  }

  &[data-active] {
    background-color: rgb(15, 15, 15);
    color: red;
  }
}
